body,
body > * {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

body {
  background: radial-gradient(circle at center, #cfc7c7, #e9e7e7);
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
}

.caption-img {
  opacity: 0.5;
  font-size: 0.8rem;
  padding-bottom: 1vh;
}
